.p-inputtext.p-component.p-column-filter {
  margin-top: 8px;
}

.p-datatable .p-datatable-thead > tr > th {
  border-color: #dbdbdb !important;
  background-color: #ffffff !important;
  border-radius: 4px !important;
}

.p-datatable .p-datatable-tbody > tr > td {
  border-color: #dbdbdb !important;
}

.p-datatable > .p-paginator {
  background-color: #ffffff !important;
  border: 1px solid #dbdbdb !important;
  border-top: 0 !important;
}

.p-dataview > .p-paginator {
  background-color: #ffffff !important;
  border: 0 !important;
}

.p-datatable {
  border: 0 !important;
}

.p-datatable > .p-datatable-header {
  background-color: #3c8dbc !important;
  color: #ffffff !important;
  border: #3c8dbc !important;
  text-align: center !important;
  border-top: 0 !important;
}

.p-paginator-pages .p-paginator-page.p-highlight {
  background-color: #3c8dbc !important;
  color: #ffffff;
}

.p-column-title {
  color: #757575;
  font-size: 16px;
  padding-top: 7px;
}

.p-datatable-tbody tr.p-datatable-row:focus {
  outline: none !important;
}

.p-datatable-tbody tr.p-datatable-row:hover {
  outline: none !important;
  background-color: #ece9e9 !important;
}

.p-datatable .p-datatable-tbody > tr.p-highlight-contextmenu {
  background-color: #c8c8c8 !important;
  color: #757575 !important;
}

.p-dataview .p-dataview-content {
  border: 0 !important;
  padding: 0 !important;
}